## Get the coordinates of the address (Toronto)

Importing the required packages

In [1]:
import urllib3
import geocoder
import json
import requests
import pandas as pd

Read the dataset that was created in the previous section by Web Scraping

In [2]:
df = pd.read_csv('toronto_data.csv')
df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [3]:
df['Address'] = df['Borough'] + ', ' + df['Postcode'] 
df.head()

  Postcode           Borough     Neighbourhood                Address
0      M3A        North York         Parkwoods        North York, M3A
1      M4A        North York  Victoria Village        North York, M4A
2      M5A  Downtown Toronto      Harbourfront  Downtown Toronto, M5A
3      M5A  Downtown Toronto       Regent Park  Downtown Toronto, M5A
4      M6A        North York  Lawrence Heights        North York, M6A

Geo-coding, getting the `Latitude` and `Longitude` from the name of the place name.

In [4]:
lats = []
lons = []

http = urllib3.PoolManager()
key = '9d41bd4e5bffd04e03a6cb6832066559'

for place in df['Address']:
    url = 'http://api.openweathermap.org/data/2.5/weather?q='+str(place)+'&appid='+key
    open_url = http.request('GET', url)
    data = open_url.data
    open_w = json.loads(data.decode('utf-8'))
    try:
        lats.append(open_w['coord']['lat'])
        lons.append(open_w['coord']['lon'])
    except Exception:
        lats.append(None)
        lons.append(None)

In [6]:
df['Latitude'] = lats
df['Longitude'] = lons

Dropping the NaN values

In [8]:
coords_df = df.dropna()

In [9]:
coords_df.to_csv('toronta_lats_lons.csv')

Final dataset with the coordinate values

In [11]:
lldf = pd.read_csv('toronta_lats_lons.csv', index_col=0)
lldf.head(20)

,Postcode,Borough,Neighbourhood,Address,Latitude,Longitude
0,M3A,North York,Parkwoods,"North York, M3A",39.98,-76.73
1,M4A,North York,Victoria Village,"North York, M4A",39.98,-76.73
4,M6A,North York,Lawrence Heights,"North York, M6A",39.98,-76.73
5,M6A,North York,Lawrence Manor,"North York, M6A",39.98,-76.73
6,M7A,Queen's Park,Queen's Park,"Queen's Park, M7A",53.74,-2.47
7,M9A,Etobicoke,Islington Avenue,"Etobicoke, M9A",43.64,-79.57
8,M1B,Scarborough,Rouge,"Scarborough, M1B",54.28,-0.41
9,M1B,Scarborough,Malvern,"Scarborough, M1B",54.28,-0.41
10,M3B,North York,Don Mills North,"North York, M3B",39.98,-76.73
11,M4B,East York,Woodbine Gardens,"East York, M4B",43.69,-79.33
12,M4B,East York,Parkview Hill,"East York, M4B",43.69,-79.33
15,M6B,North York,Glencairn,"North York, M6B",39.98,-76.73
16,M9B,Etobicoke,Cloverdale,"Etobicoke, M9B",43.64,-79.57
17,M9B,Etobicoke,Islington,"Etobicoke, M9B",43.64,-79.57
18,M9B,Etobicoke,Martin Grove,"Etobicoke, M9B",43.64,-79.57
19,M9B,Etobicoke,Princess Gardens,"Etobicoke, M9B",43.64,-79.57
20,M9B,Etobicoke,West Deane Park,"Etobicoke, M9B",43.64,-79.57
21,M1C,Scarborough,Highland Creek,"Scarborough, M1C",54.28,-0.41
22,M1C,Scarborough,Rouge Hill,"Scarborough, M1C",54.28,-0.41
23,M1C,Scarborough,Port Union,"Scarborough, M1C",54.28,-0.41